[submodule "arduino-libs-manchester"]
	path = libraries/arduino-libs-manchester
	url = https://github.com/tim36272/arduino-libs-manchester
[submodule "libraries/Arduino-IRremote"]
	path = libraries/Arduino-IRremote
	url = https://github.com/z3t0/Arduino-IRremote
[submodule "libraries/libHomeMesh"]
	path = libraries/libHomeMesh
	url = https://github.com/tim36272/libHomeMesh
[submodule "swamp-base"]
	path = swamp-base
	url = https://github.com/tim36272/swamp-base
[submodule "swamp-remote"]
	path = swamp-remote
	url = https://github.com/tim36272/swamp-remote
[submodule "libraries/swamp-lib"]
	path = libraries/swamp-lib
	url = https://github.com/tim36272/swamp-lib
